<div class="container">
  <cdk-virtual-scroll-viewport #scrollerElement itemSize="25" class="content">
    <div class="responsive-grid">
      <ng-container *cdkVirtualFor="let item of photos; let idx=index">
        <div class="myimage">
          <div class="id">{{idx}}</div>
          <img [src]="item.src.small">
        </div>
      </ng-container>
      <div class="spinner-item">
        <mat-progress-spinner [mode]="'indeterminate'" [diameter]="50"></mat-progress-spinner>
      </div>
    </div>
  </cdk-virtual-scroll-viewport>
</div>
