$gap: 16px;

p {
  font-family: Lato;
}

.container {
  margin-left: $gap;
  margin-right: $gap;

  virtual-scroller {
    width: 95%;
    height: calc(100vh - 64px);
    overflow: auto;

    .responsive-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: $gap;
    }
  }
}

.spinner-item {
  display: grid;
  place-items: center;
  margin-top: 10px;
}

.myimage {
  // position: relative;

  img {
    width: 75%;
    height: 75%;
  }

  .id {
    position: absolute;
    color: white;
    margin: $gap;
    font-size: 1.5rem;
  }
}
