<div class="container">
  <virtual-scroller #scroll [items]="photos" (vsEnd)="fetchMore($event)">
    <div #container class="responsive-grid">
      <div class="item" *ngFor="let item of scroll.viewPortItems">
        <div class="myimage">
          <div class="id">{{item.id}}</div>
          <img [src]="item.images.fixed_height_still.url">
        </div>
      </div>
    </div>
  </virtual-scroller>
  <!-- <div class="spinner-item">
    <mat-progress-spinner [mode]="'indeterminate'" [diameter]="50"></mat-progress-spinner>
  </div> -->
</div>
