<div class="container">
  <virtual-scroller #scroll [items]="photos" (vsEnd)="fetchMore($event)"
    [enableUnequalChildrenSizes]="true">
    <div #container class="responsive-grid">
      <div class="item" *ngFor="let item of scroll.viewPortItems">
        <div class="myimage">
          <div class="id" title="Item ID {{item.id}}">{{item.refIndex}}</div>
          <img [src]="item.src.small">
        </div>
      </div>
    </div>
  </virtual-scroller>
  <div class="spinner-item" *ngIf="loading">
    <mat-spinner [diameter]="50"></mat-spinner>
  </div>
</div>
