:host {

  display: none;

  &.visible {
    display: block;
  }

  .modal {
    z-index: 1000; // on top of everything
    position: fixed;
    // center it; refererence https://www.w3.org/Style/Examples/007/center.en.html#viewport3
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    .modal-body {
        background: #fff;
        margin: 2px;
        padding: 20px;
    }
  }

  .modal-background {
    z-index: 900; // below the modal but above anything else
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: 0.75;
  }
}
