<div class="container">
  <virtual-scroller #scroll [items]="photos" (vsEnd)="fetchMore($event)"
    [enableUnequalChildrenSizes]="true">
    <div #container class="responsive-grid">
      <div class="item" (click)="showDetail(item)" *ngFor="let item of scroll.viewPortItems">
        <div class="myimage" tabindex="0" >
          <div class="id" title="Item ID {{item.id}}">{{item.refIndex}}</div>
          <img [src]="item.src.medium" alt="pexels id={{item.id}}">
        </div>
      </div>
    </div>
  </virtual-scroller>
  <div class="spinner-item"
    *ngIf="fetchStatus === ExecutionState.Loading ">
    <mat-spinner [diameter]="50"></mat-spinner>
  </div>
  <div class="spinner-item" id="endFlag"
    *ngIf="endOfInputReached && photos.length !== 0">
    <img height="50px" width="100px"
      alt="end-of-matches reached"
      src="https://cdn.pixabay.com/photo/2013/06/17/10/28/end-139848__480.jpg" >
  </div>
</div>

<div class="notice"
  *ngIf="fetchStatus === ExecutionState.Uninitialized && photos.length === 0 && searchString.length === 0">
  <img id="noSearchPerformed" height="80%"
    alt="no search has yet been performed; type something in the search box to begin!"
    src="assets/graphics/treasure-clipart-empty.jpeg" >
</div>

<div class="notice"
  *ngIf="fetchStatus === ExecutionState.Success && photos.length === 0 && searchString.length > 0">
  <img id="noResultsFound" height="80%" width="80%"
    alt="no results found; try a different search string"
    src="assets/graphics/set-empty-picture-frames-with-free-space-inside-isolated-white_76080-5386.jpeg" >
</div>

<div class="notice"
  *ngIf="fetchStatus === ExecutionState.Failure && (apiResponse$ | async)?.statusCode === StatusCodes.FORBIDDEN">
  <img id="unauthorized" height="80%" width="80%"
    alt="unauthorized (probably due to an invalid API key)"
    src="assets/graphics/unauthorized.png" >
    <div class="notice-note">
      (Select the key at upper right to re-enter your API key)
    </div>
</div>

<div class="notice"
  *ngIf="fetchStatus === ExecutionState.Failure && (apiResponse$ | async)?.statusCode !== StatusCodes.FORBIDDEN">
  <img id="generalError" height="80%" width="80%"
    alt="general error"
    src="assets/graphics/general-error.png" >
    <div class="notice-note">
      (If you really want to know, the HTTP response was
      <br>
      {{ formatErrorInfo() }} )
    </div>
</div>

<app-base-modal [visibility]="detailModalVisibility">
  <div class="info">
    <a href="{{currentPhoto?.photographer_url}}" target="_blank">
      <div id="test-author">{{currentPhoto?.photographer}}</div>
    </a>
    <button id="test-download-button"
      title="Save {{getFileName(currentPhoto?.src?.large || '')}}"
      (click)="download(currentPhoto?.src?.large || '')">
      <mat-icon>download</mat-icon>
    </button>
  </div>
  <img alt="pexels id={{currentPhoto?.id}}"
    [src]="currentPhoto?.src?.large">
</app-base-modal>
