
@import "src/styles/_variables";

.container {
  margin-left: $standard-margin;
  margin-right: $standard-margin;

  virtual-scroller {
    width: 100%;
    height: calc(100vh - 200px);
    overflow: auto;

    .responsive-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: $standard-margin;

      .item {
        display: block;
        width: 100%;
        // height: 100px;
      }

      .myimage {
        position: relative;

        img {
          width: 100%;
          height: 100%;
          border-radius: 5px;
        }

        .id {
          position: absolute;
          color: white;
          margin: $standard-margin;
          font-size: 1.5rem;
        }
      }
    }
  }

  .spinner-item {
    display: grid;
    place-items: center;
    margin-top: 10px;
  }
}

.notice {
  position: absolute;
  left: 10%;
  right: 10%;
  height: 80%;
  text-align: center;
  top: 25%; // leave room for search box above it

  .notice-note {
    margin: 0 5vw;
  }
}

app-base-modal {
  img {
    max-width: 100%;
    // match the curvature of the container at the bottom;
    // author name is above the photo so not matching curvature at top.
    border-radius: 0 0 10px 10px;
  }
}
