<div class="container">
  <virtual-scroller #scroll [items]="photos" (vsEnd)="fetchMore($event)"
    [enableUnequalChildrenSizes]="true">
    <div #container class="responsive-grid">
      <div class="item" (click)="showDetail(item)" *ngFor="let item of scroll.viewPortItems">
        <div class="myimage">
          <div class="id" title="Item ID {{item.id}}">{{item.refIndex}}</div>
          <img [src]="item.src.medium">
        </div>
      </div>
    </div>
  </virtual-scroller>
  <div class="spinner-item" *ngIf="loading">
    <mat-spinner [diameter]="50"></mat-spinner>
  </div>
  <div class="spinner-item" id="endFlag" *ngIf="endOfInputReached && photos.length !== 0">
    <img src="https://cdn.pixabay.com/photo/2013/06/17/10/28/end-139848__480.jpg" height="50px" width="100px">
  </div>
  <div class="notice" *ngIf="!loading && photos.length === 0 && searchString.length > 0">
    <img id="noResultsFound" height="80%" width="80%"
      src="assets/graphics/set-empty-picture-frames-with-free-space-inside-isolated-white_76080-5386.jpeg" >
  </div>
  <div class="notice" *ngIf="!loading && photos.length === 0 && searchString.length === 0">
    <img id="noSearchPerformed" height="80%"
      src="assets/graphics/treasure-clipart-empty.jpeg" >
  </div>

  <app-base-modal [visibility]="detailModalVisibility">
    <a href="{{currentPhoto?.photographer_url}}" target="_blank">
      <div id="author">{{currentPhoto?.photographer}}</div>
    </a>
    <img [src]="currentPhoto?.src.large">
  </app-base-modal>
</div>
