
@import "src/styles/_variables";

.container {
  margin-left: $standard-margin;
  margin-right: $standard-margin;

  virtual-scroller {
    width: 100%;
    height: calc(100vh - 200px);
    overflow: auto;

    .responsive-grid {
      // Reference: https://zoaibkhan.com/blog/fastest-way-to-make-a-responsive-card-grid-with-css/
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: $standard-margin;

      .item {
        display: block;
        width: 100%;
        // height: 100px;
      }

      .myimage {
        position: relative;

        img {
          width: 100%;
          height: 100%;
          border-radius: 5px;
        }

        .id {
          position: absolute;
          color: white;
          // background chosen using accessible contrast analyzer at
          // https://dequeuniversity.com/rules/axe/4.3/color-contrast?application=AxeChrome
          background-color: #545454;
          margin: $standard-margin;
          padding-left: 2px;
          padding-right: 2px;
          font-size: 1.5rem;
        }
      }
    }
  }

  .spinner-item {
    display: grid;
    place-items: center;
    margin-top: 10px;
  }
}

.notice {
  position: absolute;
  left: 10%;
  right: 10%;
  height: 80%;
  text-align: center;
  top: 25%; // leave room for search box above it

  .notice-note {
    margin: 0 5vw;
  }
}

app-base-modal {
  .info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
    background-color: lavender;
  }

  img {
    max-height: 85vh;
    max-width: 100%;
    // match the curvature of the container at the bottom;
    // author name is above the photo so not matching curvature at top.
    border-radius: 0 0 10px 10px;
  }
}
