<div class="container">
  <virtual-scroller #scroll [items]="photos" (vsEnd)="fetchMore($event)"
    [enableUnequalChildrenSizes]="true">
    <div #container class="responsive-grid">
      <div class="item" (click)="showDetail(item)" *ngFor="let item of scroll.viewPortItems">
        <div class="myimage">
          <div class="id" title="Item ID {{item.id}}">{{item.refIndex}}</div>
          <img [src]="item.src.medium">
        </div>
      </div>
    </div>
  </virtual-scroller>
  <div class="spinner-item" *ngIf="loading">
    <mat-spinner [diameter]="50"></mat-spinner>
  </div>
  <div class="spinner-item" id="endFlag" *ngIf="endOfInputReached">
    <img src="https://cdn.pixabay.com/photo/2013/06/17/10/28/end-139848__480.jpg" height="50px" width="100px">
  </div>

  <app-modal2 [openEvent]="openUserModal">
    <div id="author">{{currentPhoto?.photographer}}</div>
    <img [src]="currentPhoto?.src.large">
  </app-modal2>
</div>
